<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Practice125.TestScript4">
      	<methods>
      	<exclude name="testscript"></exclude>
      	</methods> 
      </class>      	     
      <class name="TYSelenium.Practice1">
      <methods>
      <exclude name="sachi">
      </exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
